aside
{
	float:left;
	background-color: #7986CB;
	color:white;
	padding-left:10px;
	width:45%;
	height:400px;
	font-size:25px;
	padding-top:10px;
	margin-left: auto;
	margin-right: auto;
	column-count:2;
	text-align:center;
}
table
{
	margin-top:2px;
	margin-bottom:5px;
	float:left;
	color:white;
	width:45%;
	height:500px;
	font-size:20px;
	border-collapse: collapse;
	background-color: #9FA8DA;
}
table td, th
{
   border: 2px solid white;
}
#p
{
	margin-top:0; 
	padding-top:0; 
	padding-left:5px;
	margin-bottom:0;
	font-size:25px;
}
#dance
{
	margin-top:2px;
	margin-bottom:5px;
	float:left;
	color:white;
	width:595px;
	margin-left:2px;
	margin-right:2px;
	height:55px;
	font-size:20px;
	background-color: #9FA8DA;
}
#dance a{
	position:relative;
	top:0;
	margin-right:25px;
	text-align:center;
	margin-left:90px;
}

main
{
	font-size:20px;
	float:right;
	width:54%;
	min-height:970px;
	margin-left:10px;
	padding-left:10px;
	color:white;
	background-color: #7986CB;
}
ol >li::marker
{
	font-size:20px;
	unicode-bidi: normal;
   
}
#tekst
{
	font-size:20px;
	width:100%;
	margin-left: 5px;
	margin-right: 5px;
	margin-top:5px;
	min-height:1900px;
	padding-left:10px;
	padding-right:5px;
	color:white;
	background-color: #7986CB;
}
aside >ol > li
{
	margin-top:5px;
	font-weight:400;
	font-size:22px;
	padding-top:5px;
	list-style-type:armenian;
}
aside>ol
{
	display:block;
	list-style-type:none;
	font-size:16px;
	list-style-type:armenian;
}
h2
{
	text-align:center;
	margin-top:5px;
	margin-bottom:0px;
	padding-left:50px;
}

@media (min-width: 768px) and
(max-width: 992px)
{
	body
	{
		margin:0px;
	}
	div.container
	{
		margin:0;
		padding:0;
		width:100%;
	}
	table
	{
		width:100%;
		margin:0;
		padding:0;
	}
	div#dance
	{
		width:100%;
		margin:0;
		padding:0;
	}
	menu, main, div#tekst1, header
	{
		float:none;
		width: auto;
        margin: 0px;
	}
	aside
	{
		float:none;
		width: 100%;
		margin-top:10px;
	}
}
@media (max-width: 768px)
{
	body
	{
		margin:0;
		width:100%;
	}
	div.container
	{
		margin:0;
		padding:0;
		width:100%;
	}
	table 
	{
		width:100%;
		margin:0;
		padding:0;
	}
	div#dance
	{
		width:100%;
		margin:0;
		padding:0;
	}
	#dance a
	{
	position:relative;
	top:0;
	margin-right:5px;
	text-align:center;
	margin-left:10px;
	}
	menu, main, header
	{
		padding-left:5px;
		padding:0;
		float:none;
		width: 100%;
        margin: 0;
	}
	div#tekst1
	{
		float:none;
		padding:0;
		width: 95%;
        margin:0;
		margin-left:0;
	}
	aside >ol > li
{
	margin-top:5px;
	font-weight:400;
	font-size:14px;
	height:100%;
	padding-top:5px;
	list-style-type:armenian;
}
	aside
	{
		float:none;
		width:100%;
		margin-top:10px;
	}
}